h1,
h2,
h3,
.nav-item {
  font-family: "Sen", Arial, sans-serif;
  font-weight: 700;
}

.close-nav,
.open-nav {
  font-weight: 700;
}

.nav-item {
  font-weight: 700;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.3;
}

.section-hero h1 {
  margin-bottom: 1em;
}

.section-hero p {
  margin-top: 1em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 0.9em;
  color: var(--main-color-light);
  margin-bottom: 1.2em;
}

h2,
h3,
.section-mission h1 {
  text-align: center;
}

.section-hero p,
button {
  font-family: "Roboto", Arial, sans-serif;
}

.button {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
}

.section-hero p {
  font-size: 0.9rem;
  color: var(--main-color-dark);
}

.text-light {
  font-weight: 300;
  font-size: 0.9rem;
}

.package-subject,
.packages-card-title {
  text-transform: uppercase;
}

.price-light {
  font-size: 0.7rem;
  font-weight: 300;
}

.price {
  font-size: 1.2rem;
  font-weight: 700;
}

.title-light {
  color: white;
}
