h1,
h2,
h3,
.nav-item {
  font-family: var(--main-font);
  font-weight: 700;
}

.close-nav,
.open-nav {
  font-weight: 700;
}

.nav-item {
  font-weight: 700;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-weight: 700;
  color: var(--main-color-light);
  margin-bottom: 1.2em;
}

.section-hero p,
button {
  font-family: var(--sencond-font);
}

.section-hero p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-color-dark);
}

.text-light {
  font-weight: 400;
  font-size: 1rem;
  color: var(--third-color-light);
}

h2,
h3,
.section-mission h1 {
  text-align: center;
}

.package-subject,
.packages-card-title {
  text-transform: uppercase;
}

.packages-card-title {
  line-height: 1.1;
}

.price-light {
  font-size: 0.7rem;
  font-weight: 300;
}

.price {
  font-size: 1.2rem;
  font-weight: 700;
}

.title-light {
  color: white;
}

.testemunials-text {
  font-size: 1.1rem;
  font-weight: 400;
}

.testemunials-text,
.testemunials-course {
  font-family: var(--sencond-font);
}

.testemunials-course {
  font-weight: 300;
}

.testemunials-text,
.testemunials-name,
.testemunials-course {
  color: white;
}

.testemunials-course {
  font-size: 0.8rem;
}

.testemunials-name {
  color: var(--second-color-light);
}

label {
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--main-color-darkest);
}

::placeholder {
  font-size: 0.7rem;
  font-weight: 300;
  color: grey;
  font-family: var(--sencond-font);
  text-align: left;
}

.footer-title {
  color: white;
  font-size: 1rem;
  font-family: var(--main-font);
}
.footer-text,
i {
  font-size: 0.8rem;
  font-weight: 300;
  color: #878b98;
}

.footer-below h5,
.footer-below a,
.footer-below a:link,
.footer-below a:visited {
  color: white;
  font-weight: 300;
  font-size: 0.6rem;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
}
