h1,
h2,
h3,
.nav-item,
blockquote {
  font-family: var(--main-font);
}

h1,
h2,
h3,
.close-nav,
.open-nav,
.nav-item,
blockquote {
  font-weight: 700;
}

.nav-item {
  font-size: 1.3rem;
  color: white;
}

.open-nav i {
  color: var(--main-color-dark);
}

.close-nav i {
  color: white;
}

h2 {
  line-height: 3.2rem;
  margin-bottom: 1em;
}

h1,
blockquote {
  font-size: 1.8rem;
  line-height: 1.3em;
}

h2,
.card-title {
  font-size: 1.5em;
}

.card-title {
  line-height: 1.1em;
}

h3 {
  font-size: 1em;
  color: var(--main-color-light);
  margin-bottom: 1.2em;
}

.section-hero p,
button {
  font-family: var(--sencond-font);
}

.section-hero p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-color-dark);
}

.text-light {
  font-weight: 400;
  font-size: 1rem;
  color: var(--third-color-light);
}

h2,
h3,
.section-mission h1 {
  text-align: center;
}

.section-mission h1 {
  font-size: 1.8rem;
}

.package-text-container li,
.packages-card-title {
  text-transform: uppercase;
}

.packages-card-title {
  line-height: 1.1;
}

.price-light {
  font-size: 0.7rem;
  font-weight: 300;
}

.price {
  font-size: 1.2rem;
  font-weight: 700;
}

.professors-title {
  color: white;
}

.testimonials-text {
  font-size: 1.1rem;
  font-weight: 400;
}

.testimonials-text,
.testimonials-course {
  font-family: var(--sencond-font);
}

.testimonials-course {
  font-weight: 300;
}

.testimonials-text,
.testimonials-name,
.testimonials-course {
  color: white;
}

.testimonials-course {
  font-size: 0.8rem;
}

.testimonials-name {
  color: var(--second-color-light);
  font-size: 1.7rem;
}

label {
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--main-color-darkest);
}

::placeholder {
  font-size: 0.7rem;
  font-weight: 300;
  color: grey;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
}

.footer-title {
  color: white;
  font-size: 1rem;
  font-family: var(--main-font);
}

.footer-text-contatos,
.footer-text,
i {
  font-size: 0.8rem;
  font-weight: 300;
  color: #878b98;
}

.footer-below h5,
.footer-below a,
.footer-below a:link,
.footer-below a:visited {
  color: white;
  font-weight: 300;
  font-size: 0.6rem;
}

.whatsapp-container a:link {
  text-decoration: none;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  h1 {
    font-size: 3rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 3em;
  }

  .nav-item {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--main-color-darkest);
  }
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
  .section-mission h1 {
    font-size: 2.5rem;
    line-height: 1.5;
  }
}
