.company-outside-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

/* ------ LEFT CONTAINER ------ */

.company-left-container {
  border: 3px solid green;
}

.company-left-container h3,
.company-left-container h2 {
  text-align: left;
}

.company-left-container .text-light {
  margin: 3em 0 2em 0;
  max-width: 20em;
}

.company-left-container li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company-left-container li:last-child {
  margin-bottom: 3em;
}

.company-left-container img {
  width: 1.8rem;
  margin: 0.5em 1em;
}

/* ------ RIGHT CONTAINER ------ */

.company-right-container {
  border: 3px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.company-right-container img:first-of-type {
  width: 100%;
  height: fit-content;
  align-self: flex-end;
}

.company-right-container img:last-of-type {
  display: none;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .company-left-container {
    width: 60%;
  }

  .company-right-container {
    width: 40%;
  }
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
  .company-right-container img:first-of-type,
  .company-right-container img:last-of-type {
    display: inline-block;
    width: 47%;
  }

  .company-right-container img:first-of-type {
    margin-top: 2em;
  }

  .company-right-container img:last-of-type {
    margin-bottom: 2em;
  }
}
