/* CSS HEX
--blue-pigment: #2d3092ff;
--dark-magenta: #8a229eff;
--carnelian: #bf001cff;
--tufts-blue: #3c91e6ff;
--selective-yellow: #f7b801ff;

CSS HSL
--blue-pigment: hsla(238, 53%, 37%, 1);
--dark-magenta: hsla(290, 65%, 38%, 1);
--carnelian: hsla(351, 100%, 37%, 1);
--tufts-blue: hsla(210, 77%, 57%, 1);
--selective-yellow: hsla(45, 99%, 49%, 1);

SCSS HEX
$blue-pigment: #2d3092ff;
$dark-magenta: #8a229eff;
$carnelian: #bf001cff;
$tufts-blue: #3c91e6ff;
$selective-yellow: #f7b801ff;

SCSS HSL
$blue-pigment: hsla(238, 53%, 37%, 1);
$dark-magenta: hsla(290, 65%, 38%, 1);
$carnelian: hsla(351, 100%, 37%, 1);
$tufts-blue: hsla(210, 77%, 57%, 1);
$selective-yellow: hsla(45, 99%, 49%, 1);

SCSS RGB
$blue-pigment: rgba(45, 48, 146, 1);
$dark-magenta: rgba(138, 34, 158, 1);
$carnelian: rgba(191, 0, 28, 1);
$tufts-blue: rgba(60, 145, 230, 1);
$selective-yellow: rgba(247, 184, 1, 1);

SCSS Gradient
$gradient-top: linear-gradient(0deg, #2d3092ff, #8a229eff, #bf001cff, #3c91e6ff, #f7b801ff);
$gradient-right: linear-gradient(90deg, #2d3092ff, #8a229eff, #bf001cff, #3c91e6ff, #f7b801ff);
$gradient-bottom: linear-gradient(180deg, #2d3092ff, #8a229eff, #bf001cff, #3c91e6ff, #f7b801ff);
$gradient-left: linear-gradient(270deg, #2d3092ff, #8a229eff, #bf001cff, #3c91e6ff, #f7b801ff);
$gradient-top-right: linear-gradient(45deg, #2d3092ff, #8a229eff, #bf001cff, #3c91e6ff, #f7b801ff);
$gradient-bottom-right: linear-gradient(135deg, #2d3092ff, #8a229eff, #bf001cff, #3c91e6ff, #f7b801ff);
$gradient-top-left: linear-gradient(225deg, #2d3092ff, #8a229eff, #bf001cff, #3c91e6ff, #f7b801ff);
$gradient-bottom-left: linear-gradient(315deg, #2d3092ff, #8a229eff, #bf001cff, #3c91e6ff, #f7b801ff);
$gradient-radial: radial-gradient(#2d3092ff, #8a229eff, #bf001cff, #3c91e6ff, #f7b801ff); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --main-font: "Jost", sans-serif;
  --second-font: "Karla", sans-serif;

  --primary-color: #2d3092;
  --secondery-color: #8a229e;
  --tertiary-color: #bf001c;
  --quaternary-color: #f7b801;
  --quinary-color: #3c91e6;

  --gradient: linear-gradient(45deg, #2d3092, #8a229e);
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  background-color: white;
  color: var(--primary-color);
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

.r {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1em;
}

.section {
  margin: 0 auto;
  padding: 6.5em 0;
}

.dark-section {
  background-color: var(--primary-color);
  /* padding: 3.5em 0; */
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .r {
    padding: 0 2.5em;
  }
}

@media only screen and (min-width: 62em) {
  .r {
    padding: 0 4em;
  }
}

@media only screen and (min-width: 75em) {
  .r {
    max-width: 82em;
  }
}

@media only screen and (min-width: 85em) {
}
