/*
Color Scheme:
    Dark Blue: #2D3092
    Light Blue: #5E64FF
    Medium Blue: #3C41DE
    Brown Green: #91770A
    Brown Yellow: #DEBE3C
    var(--main-color-dark)

Fonts:
    Headings:
        font-family: 'Sen', Arial, sans-serif;
    
    Paragraph:
        font-family: 'Roboto', Arial, sans-serif;

/* ====================================
        MEDIA QUERY
======================================= */

/*

width: 480px
@media only screen and (min-width: 30em) {
}

width: 768px
@media only screen and (min-width: 48em) {
}

width: 960px
@media only screen and (min-width: 60em) {
}

width: 1160px
@media only screen and (min-width: 72.5em) {
} 

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --main-color-darkest: #070031;
  --main-color-dark: #2d3092;
  --main-color-medium: #3c41de;
  --main-color-light: #5e64ff;
  --main-color-super-light: #bfddfd;
  --second-color-dark: #91770a;
  --second-color-light: #debe3c;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  background-color: white;
  color: var(--main-color-darkest);
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 4em;
}

.r {
  max-width: 100%;
  padding: 1em;
}

.dark-section {
  background-color: var(--main-color-dark);
  padding: 8.45em 1em 7.8em 1em;
}
