.section-hero {
  background-color: var(--main-color-super-light);
}

.section-hero p {
  margin-top: 6em;
}

.section-hero p,
.hero-main-text {
  padding-bottom: 1.5em;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
  .section-hero h1 {
    max-width: 9em;
  }

  .r-hero {
    margin: 0 auto;
    max-width: 90%;
  }
}

@media only screen and (min-width: 48em) {
  .section-hero p {
    margin-top: 8em;
  }

  .section-hero p,
  .hero-main-text {
    padding-bottom: 1em;
  }

  .r-hero a {
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 62em) {
  .section-hero p {
    margin-top: 12em;
  }

  .section-hero p,
  .hero-main-text {
    padding-bottom: 2em;
  }

  .r-hero a {
    margin-bottom: 4em;
  }
}

@media only screen and (min-width: 75em) {
}
