.section-mission {
  background-color: var(--main-color-super-light);
}

.section-mission blockquote {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.section-mission blockquote::before {
  content: open-quote;
  font-size: 2rem;
}

.section-mission blockquote::after {
  content: close-quote;
  font-size: 2rem;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .section-mission blockquote {
    max-width: 78%;
  }
}

@media only screen and (min-width: 62em) {
  .section-mission blockquote {
    max-width: 65%;
  }
}

@media only screen and (min-width: 75em) {
}
