.glide__slide{
  display: flex;
  justify-content: center;
}

.packages-card {
  border: 1px solid rgb(219, 218, 218);
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 8px 8px;
  max-width: 400px;
}

.packages-card-img {
  border-radius: 0.5em 0.5em 0 0;
}

.packages-inner-container {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.packages-card-title {
  margin: 1em 0;
  font-size: 1.5rem;
  min-height: 53px;
}

.packages-card-classes {
  min-height: 10em;
  display: flex;
  flex-direction: row;
  align-content: start;
  flex-wrap: wrap;
  margin-right: 50%;
}

.packages-card-description {
  min-height: 7em;
}

.packages-card-prices {
  margin: 1em 0 2em 0;
  height: 6em;
}

.packages-button {
  margin: 0 auto 3em auto;
}

/* ---- END GRID ---- */

.packages-card-classes li {
  border: 2px solid var(--primary-color);
  border-radius: 0.3em;
  padding: 0.2em 0.5em;
  margin-bottom: 0.7em;
  display: block;
  flex: 0 0 auto;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 450) {
  /* .packages-card {
    max-width: 20em;
  } */

  /* .section-packages {
    width: 70%;
  } */
  .packages-card {
    max-width: 10em;
    border: 1px solid red;
  }
}

@media only screen and (min-width: 768px) {
  /* .section-packages {
    width: 90%;
  } */

  /* .glides__slides {
    max-width: 10em;
  } */
}

@media only screen and (min-width: 1080px) {
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
}
