.packages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.packages-card {
  margin-top: 3em;
  border: 1px solid rgb(219, 218, 218);
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.packages-img {
  border-radius: 0.3em 0.3em 0 0;
}

.packages-inner-container {
  display: flex;
  flex-direction: column;
}

.package-text-container {
  padding: 0 1em;
}

.package-price-container {
  padding: 1em;
}
.package-price-container a {
  margin-bottom: 1em;
}

.price {
  margin-bottom: 2em;
}

.packages-card .text-light {
  margin-bottom: 1em;
}

.packages-card-title {
  margin: 1em 0;
  font-size: 1.5rem;
  text-align: left;
}
.package-text-container ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.package-text-container li {
  border: 2px solid var(--main-color-darkest);
  padding: 0 0.5em;
  margin-bottom: 0.7em;
  text-align: left;
}

.package-text-container li:last-of-type {
  margin-bottom: 2em;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .packages-card {
    width: 47%;
  }
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
  .packages-card {
    width: 31%;
  }
}
