.specialities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.specialities-card {
  margin-top: 3em;
  border: 1px solid rgb(219, 218, 218);
  border-radius: 0.5em;
  padding: 3em 1.5em;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.specialities-card:hover {
  background-color: var(--main-color-dark);
  color: white;
}

.specialities-card:hover i {
  color: white;
}

.specialities-card span i {
  color: var(--main-color-dark);
}

.card-title {
  text-align: left;
  margin: 1em 0;
}

.section-specialities .button {
  margin-top: 6em;
}

.section-specialities h2 {
  padding-bottom: 1em;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
  .specialities-card {
    max-width: 20em;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 48em) {
  .specialities-card {
    max-width: 44%;
    padding: 2em;
  }

  .specialities-card img {
    width: 4rem;
  }
}

@media only screen and (min-width: 70em) {
  .specialities-card {
    width: 23%;
  }
}

@media only screen and (min-width: 75em) {
}
