.section-testemunials {
  margin: 0 auto;
  padding: 4em 1em 4em 1em;
  max-width: 100%;
}

.testemunials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testemunials-img {
  border: 1px solid rgb(219, 218, 218);
  border-radius: 50%;
  width: 8em;
  margin-bottom: 3em;
}

.testemunials-text {
  margin-bottom: 2em;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .testemunials-text {
    max-width: 80%;
  }
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
  .testemunials-text {
    max-width: 70%;
  }
}
