.button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: var(--main-color-dark);
  color: white;
  border: none;
  border-radius: 0.3em;
  padding: 1.1em 2.2em;
  cursor: pointer;
}

.btn-carousel-right,
.btn-carousel-left {
  background-color: var(--main-color-dark);
  padding: 1em 0.8em;
  border: none;
  border-radius: 3px;
  position: absolute;
  bottom: 50%;
  border: 1px solid gray;
}

.btn-carousel-right {
  right: -1em;
}

.btn-carousel-left {
  left: -1em;
}

.button-contact {
  width: 8em;
}

.btn-top {
  background-color: var(--main-color-dark);
  display: inline-block;
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  padding: 0.5em 1em;
  border-radius: 3px;
  border: 1px solid gray;
}

.btn-top i,
.btn-carousel-right i,
.btn-carousel-left i {
  color: white;
}

@media only screen and (min-width: 768px) {
  .btn-carousel-right {
    right: -3.5em;
  }

  .btn-carousel-left {
    left: -3.5em;
  }
}

@media only screen and (min-width: 1080px) {
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
}
