.button {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: var(--main-color-dark);
  color: white;
  border: none;
  padding: 1em 2.2em;
  cursor: pointer;
}

.button-contact {
  width: 8em;
}
