footer {
  background-color: var(--main-color-darkest);
}

.footer-container {
  padding: 3em 1.3em 3em 1.3em;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7em;
}

.footer-logo p {
  margin-top: 1em;
  line-height: 1.2em;
  text-align: center;
  width: 7em;
}

.footer-title {
  margin-bottom: 1em;
}

.footer-desktop-left img {
  width: 7em;
}

.icons-socialmedia {
  display: flex;
}

.footer-logo,
.icons-socialmedia,
.footer-text {
  margin-bottom: 3em;
}

.fa-facebook {
  margin-left: 0.5em;
}

.footer-contatos {
  display: flex;
  flex-direction: column;
}

.whatsapp-container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}

.footer-contatos i {
  margin-right: 0.5em;
  padding-bottom: 0.4em;
}

.footer-contatos p:first-of-type {
  margin-bottom: 1em;
}

.footer-below {
  padding: 0.8em 2em;
  background-color: var(--main-color-darkest);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #878b98;
}

.footer-below h5 {
  margin-bottom: 1em;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
  .section-footer {
    margin: 0 auto;
    width: 80%;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
  .section-footer {
    width: 70%;
  }
}
