header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: white;
  position: fixed;
  width: 100%;
}

.section-header {
  border: 1px solid red;
}

header img {
  width: 4em;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 48em) {
}

@media only screen and (min-width: 60em) {
}

@media only screen and (min-width: 72.5em) {
}
