.menu-hamburguer-bar {
  position: fixed;
  width: 100%;
  top: 1em;
  left: 80%;
}

nav {
  background-color: var(--main-color-super-light);
  position: fixed;
  width: 100%;
  height: 90vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  z-index: 99;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 5rem;
  list-style: none;
  width: 100%;
  height: 80%;
}

.nav-item {
  text-decoration: none;
}

.close-nav,
.open-nav {
  border: 0;
  background: 0;
  cursor: pointer;
  position: absolute;
}

.close-nav {
  font-size: 3rem;
  color: var(--main-color-dark);
  padding: 1rem 2rem;
  transform: translateX(0);
  transition: transform 250ms;
}

.open-nav {
  font-size: 2.5rem;
  color: var(--main-color-dark);
  padding: 0 2rem;
  margin-left: auto;
}

.navigation-open {
  transform: translateX(-100%);
}

@media only screen and (min-width: 48em) {
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 20em) {
}

@media only screen and (min-width: 48em) {
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
}
