.center {
  text-align: center;
}

.blink {
  animation: 1s infinite blink;
  display: inline-block;
}

@keyframes blink {
  0%,
  15% {
    opacity: 0;
  }
  16%,
  100% {
    opacity: 1;
  }
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em 20em;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
  display: block;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
}

#politica-privacidade:link {
  text-decoration: none;
}

/* a,
i {
  cursor: url("https://static.cargo.site/images/up.png"), auto !important;
} */
