.center {
  text-align: center;
}

.blink {
  animation: 1s infinite blink;
  display: inline-block;
}

@keyframes blink {
  0%,
  15% {
    opacity: 0;
  }
  16%,
  100% {
    opacity: 1;
  }
}

/* a,
i {
  cursor: url("https://static.cargo.site/images/up.png"), auto !important;
} */
